$black: #000;
$white: #fff;
$dark-nav: #52565e;
$aqua: #3be8b0;
$brand: #0085ad;

// Media queries
$breakpoints: (
  'small': (min-width: 768px),
  'medium': (min-width: 1024px),
  'large': (min-width: 1200px),
);
