@import '../../styles/helpers/variables';
@import '../../styles/helpers/mixins';

.navigation {
  background: $dark-nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;

  &Link{
    @include transition(.3, ease);
    margin-right: 20px;
    color: $white;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      color: darken($white, 30%);
    }

    &:last-child {
      margin-right: 0;
    }

    &s {
      display: flex;
      align-items: center;
    }
  }
}
