@import "~bootstrap/scss/bootstrap";
@import 'helpers/variables';
@import 'helpers/mixins';
@import '~react-notifications/lib/notifications.css';

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: $black;
}

button {
  outline: 0;
  border: 0;
  background: none;
  box-shadow: none;

  &:hover,
  &:focus,
  &:focus {
    outline: 0;
  }
}

a {
  @include transition(.3, ease);
  text-decoration: none;
}

.page__wrapper {
  padding: 70px 15px 15px;
}

.loader {
  @include center();
}
